body {
	background-color: black;
	color: white;
}

.header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./bg_main.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}



footer {
    background-color: black;
}

.fa-facebook {
  color: #1877F2;
}

.fa-instagram {
  color: #E1306C;
}

.fa-linkedin {
  color: #2867B2;
}
