@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
}

.bg-black {
  background-color : rgba(0, 0, 0, 0.7);
}

.navlink {
  padding-right: 1rem;
  font-size: 1.2rem;
  color: grey;
  font-weight: bold;
}

.navlink:hover {
  color: #fff;
}

.header {
  background-image: url('./bg_main.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.headerimg {
  width: 30%;
  float: right;
  
}

.abouthead {
  align-items: center;
}

.abouthead span {
  height: 3px;
  width: 10vw;
  background: black;
}

.visionhead span {
  height: 3px;
  width: 5vw;
  background: black;
}

.about {
  background-image: url('./about.png');
  height: 110vh;
  background-size: cover;
  background-position: center;
}

.workhead {
  background-image: url('./work.png');
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.project {
  font-family: 'Montserrat';
  text-align: center;
}

.project h5 {
  padding-top: 20px;
  font-family: 'Montserrat-Bold';
}

.inner {
  overflow: hidden;
  position: relative;
}

.inner img{
  transition: all 1s ease;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner:hover .overlay{
  opacity: 0.8;
  transition: 0.75s all ease;
}

.inner:hover img{
  transform: scale(1.2);
  filter: grayscale(100);
  transition: 0.75s all ease;

}

.workinfo {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
}

.comphead {
  background-image: url('./competition.png');
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.comp {
  margin-top: 60px;
  font-family: 'Montserrat';
}

.comp img {
  width: 200px;
  float: right;
  margin-right: 60px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.compinfo {
  text-align: center;
}

.domain {
  width: 31%;
  padding: 30px;
  margin: 20px;
  background-color: #7f8c8d;
}

.domain h5 {
  text-align: center;
  font-family: 'Montserrat-Bold';
}

.profile {
  padding: 50px;
  margin: 0 auto;
}

.profile img {
  border-radius: 50%;
  margin: 0 auto;
  width: 50%;
}

.profile h5 {
  padding-top: 20px;
}

.profile a {
  font-size: 1.5rem;
  padding: .25rem;
  text-decoration: none;
}

.pagebg {
  background-color: #23241e;
  height: 50vh;
}

.pagehead {
  align-items: center;
  height: 120%;
  width: 100%;
}

.pagehead span {
  height: 3px;
  background: white;
}

.wrapper {
  display: grid;
  height: 150vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
      "box1 box2 box2 box3"
      "box1 box4 box5 box6"
      "box7 box7 box5 box8"
      "box9 box10 box10 box8";
  grid-gap: 0.6rem;
  text-align: center;
  padding: 50px 0px 50px 0px;
}

.gridinner {
  overflow: hidden;
  position: relative;
}

.gridinner img{
  transition: all linear 0.4s;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: grayscale(20%);
}

.gridinner img:hover {
  object-fit: cover;
  transform: scale(0.95);
}

#box1 {
  grid-area: box1;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box3;
}

#box4 {
  grid-area: box4;
}

#box5 {
  grid-area: box5;
}

#box6 {
  grid-area: box6;
}

#box7 {
  grid-area: box7;
}

#box8 {
  grid-area: box8;
}

#box9 {
  grid-area: box9;
}

#box10 {
  grid-area: box10;
}

.sponsorhead {
  align-items: center;
}

.sponsorhead span {
  height: 3px;
  width: 30vw;
  background: black;
}

.sponsor img {
  width: 23%;
  padding: 20px 30px 20px 10px;
  margin: 0 auto;
}

.contact {
  background-image: url('./contact.png');
  background-size: cover;
  background-position: center;
}

.contactinfo {
  background-color: rgba(255,255,255, 0.8);
  color: black;
  font-size: 1.2rem;
}

.contacticon {
  height: 30px;
}

.contacthead {
  align-items: center;
}

.contacthead span {
  height: 3px;
  width: 10vw;
  background: white;
}

.feedback-input {
  color: white;
  border-radius: 5px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid white;
  padding: 15px;
  margin-bottom: 15px;
  width: 60%;
  font-family: 'Montserrat';
}

.submit {
  background-color: white;
  color: black;
  width: 30%;
  transition: 0.7s;
}

.submit:hover {
  border: 2px solid #14150f;
  transition: 0.25s;
  background-color: #14150f;
  color: white;
}

.form {
  float: left;
}

.footer {
  padding-top: 50px;
  background-color: black;
}

.fa-facebook-f {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-youtube-play {
  color: white;
}

.fa-linkedin-square {
  color: #2867B2;
}

.fa-github-square {
  color: #333;
}

@media screen and (min-width: 320px) {
  .pagehead span {
    width: 5vw ;
  }

  .comp img {
    margin-left: 50px;
  }

  .about {
    height: 140vh;
  }
}

@media screen and (max-width: 767px) {
  .headerimg {
    margin: 0 auto;  
    float: none;
    width: 30%;
  }

  .about {
    height: 120vh;
  }
  
  .aboutimg {
    display: none;
  }
  
  .visionhead span {
    display: none;
  }

  .sponsor img {
    width: 51%;
    display: block;
  }

  .workhead span {
    width: 15vw;
  }

  .inner {
    width: 70%;
  }

  .project {
    padding-top: 50px;
  }
  
  .compinfo {
    padding-top: 20px;
  }

  .profile img {
    width: 40%;
    display: block;
  }

  .domain {
    width: 80%;
  }

  .pagehead span {
    width: 25vw;
  }

  .wrapper {
    height: 200vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-areas: 
        "box1 box3"
        "box1 box4"
        "box2 box2"
        "box5 box7"
        "box5 box6"
        "box9 box8"
        "box10 box8";
    padding: 10px;
  }
  
  .sponsorhead span {
    width: 13vw;
  }

  .form {
    height: 100vh;
    float: none;
  }

  .footerimg {
    width: 38%;
  }
}

@media screen and (min-width: 768px) {
  .footerimg {
    width: 20%;
  }

  .comp img {
    float: none;
  }
}

@media (min-width: 768px), (max-width: 1199) {
  .pagehead span {
    width: 40vw;
  }
}

@media screen and (min-width: 1200px) {
  .pagehead span {
    width: 40vw;
  }
}