body {
	background-color: black;
	color: white;
}

/*.bg-dark{
  background: transparent !important;
  transition: 0.5s ease-out;
}*/

.bg-black {
  background: black;
  transition: 0.5s ease-in;
}

.navlink {
  padding-right: 1rem;
  font-size: 1.2rem;
  color: grey;
  font-weight: bold;
}

.navlink:hover {
  color: #fff;
}

.header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./bg_main.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.wed-card{
  opacity: 0;
  transform: translateY(-100px);
  transition: transform 2s;
  will-change: transform, opacity;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 40px;
  border: 1px solid;
  box-shadow: 30px 30px 20px rgba(0,0,0,0.2);
}

.card-line {
  height: 1px;
  width: 100px;
  background: black;
  margin-top: 20px;
  margin-bottom: 30px;
}

.wed-card.is-visible{
  opacity: 1;
  transform: translateY(0px);
  color: #616161;
}

.contact {
  background-color: #708090;
  align-items: center;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('./box3.jpg');
}

.footer {
  padding-top: 30px;
  background-color: black;
}

.fa-facebook {
  color: #1877F2;
}

.fa-instagram {
  color: #E1306C;
}

.fa-linkedin {
  color: #2867B2;
}

@media (max-width: 768px) {
  .contactcomp {
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
  }
}